<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="headerjgv-component">
  <template>
    <style>
      :host {
        position: relative;
        font-size: 10px;
        --heading-height: 28px;
        font-family: "Roboto", Arial, sans-serif;
      }

      :host .container {
        display: flex;
        align-items: center;
        justify-content:space-between;
        padding: 5px;
      }
      
      :host header {
        display: inline-block;
        height: var(--heading-height + 2px);
        width: 100%;
        border-radius: 5px 5px 5px 5px;
        background-color: #101010;
      }

      :host a { 
        cursor: pointer;
      }
      
      :host h1 { 
        font-size: 24px;
        color:#fff;
      }

      :host img { 
        width: 26px;
        height: 26px;
      }

    </style>
    <header> 
      <div class="container">
        <a on-click="{{ref1}}">
          <img src="{{menu}}" />
        </a>
        <h1>{{title}}</h1>
        <a on-click="{{ref2}}">
            <img src="{{logout}}" />
          </a>
      </div>
    </header>
  </template>

  <script>
    /**
     * `headerjgv-component`
     * Header Component for exercise 2 in Cells Academy
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HeaderjgvComponent extends Polymer.Element {
      static get is() { return 'headerjgv-component'; }
      static get properties() {
        return {
          title: {
            type: String,
            value: 'headerjgv-component'
          },
          ref1: {
            type: String,
            value: '#'
          },
          ref2: {
            type: String,
            value: '#'
          },
          menu: {
            type: String,
            value: '/images/menu.png'
          },
          logout: {
            type: String,
            value: '/images/logout.png'
          }
        };
      }
    }

    window.customElements.define(HeaderjgvComponent.is, HeaderjgvComponent);
  </script>
</dom-module>
